.main-btn-container {
  display: flex;
  padding-top: 333px;
}

.home1 {
  background-color: white;
  color: black;
  width: 100%;
  min-height: 300px;
  margin-top: 216px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding: 18px 81px;
}

.home-sub-content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 56px;
  letter-spacing: -0.003em;
  line-height: 0.88em;
  font-weight: 800;
  /* transform: scale(1, 1.3);
  transform: scale(1, 1.1); */
}

.page-title1 {
  display: flex;
  width: 100%;
  color: White;
  /* margin: 0; */
  padding: 9px 18px;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
}

.button-home-container {
  padding-top: 166px;
}

.standout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-container{
  /* background-image: url("../images/IMG_1047.JPG");  
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  -webkit-background-size: cover; */
  background-image: url("../images/MTenn.JPG");
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
  background-position: 90% -11vw;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  overflow: hidden;
  -webkit-background-size: cover;
  background-position: 50% ;
}

.home-p {
  padding: 9px 0px;
}

.home-content1-1 {
text-align: start;
}

.title-container {
  padding: 96px 81px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

img.tennis {
  width: 10rem;
}

/* img.youtube {
  width: 10rem;
} */

img.tennis-ball {
  width: 10rem;
}

img.large-svg {
  width: 10rem
}

.home-content1 {
  display: flex;
  flex-direction: column;
  padding: 18px 81px;
  background-color: white;
}


@media screen and (max-width: 850px) {
  .main-btn-container {
    display: none;
  }

  .home1 {
    padding: 18px;
    min-height: 200px;
  }

  .home-container {
    flex-direction: column;
    height: 333px !important;
    background-position: 1%  !important;
  }

  .home-sub-content {
    display: none;
  }

  .home-content1 {
    padding: 18px !important;
  }

  .title-container {
    padding: 111px 15px 0px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    color: #464646;
  }

  .title {
    width: 100%;
    font-size: 42px !important;
  }

.page-title1 {
  padding-top: 279px !important;
  text-align: start;
}
}

@media screen and (max-width: 413px) {
  .title {
    font-size: 36px !important;
  }
}

