.services-page {
  padding: 99px 18px;
  background-image: url("../images/IMG_1087.JPG");  
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 777px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  background-position: 50% ;
}