.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* min-height: 100vw; */
}



.contact11 {
  transition: 1s;
}

.white {
  color: white;
}
/* 
.home-container {
  padding: 99px 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pexels-maria-orlova-4947568.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  background-position: 50%;

} */

.dropdown-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 27px;
}

.dropdown-main {
  padding: 9px 3px;
  margin: 0 3px;
  color: black;
  transition: 0.03s;
  border-bottom: 0px solid black;
}

.dropdown-sub {
  padding: 12px 0px;
  margin: 0 18px;
  color: black;
  white-space: nowrap;
}

.dropdown-main:hover {
  border-bottom: 0.3px solid black !important;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  white-space: nowrap;
}

.page1 {
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vw;
  color: black;
}

.portfolio-link {
  text-transform: capitalize;
  color: black;
  font-weight: 700;
  margin-top: 0;
}

.work-piece {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact3 {
  padding: 0 18px;
  border: 1px solid black;
  margin: 36px 0;
  background-color: white;
  color: black;
}

.insta-img {
  width: 34px;
}

.burger-container {
  display: none;
}

.page-title {
  display: flex;
  width: 100%;
  color: black;
  padding: 36px;
  margin: 0;
  border: 1px solid #b528e9;
  text-align: start;
  text-transform: capitalize;
}



.title1-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 66px;
  align-items: flex-start;
  justify-content: flex-start;
}

.title1-container:hover {
  color: #b528e9;
}

.main-btn2 {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 12px 63px;
  font-size: medium;
  color: black;
  text-transform: uppercase;
  font-weight: 550;
  margin: 9px;
  white-space: nowrap;
  width: 233px;
  transition: 0.3;
  display: flex;
  justify-content: center;
  /* transition-delay: 1s; */
}

.main-btn2:hover {

  background-color: black;
  font-size: medium;
  color: white;
  text-transform: uppercase;
  font-weight: 550;
  white-space: nowrap;
  width: 233px;
  transition: 1s;
  display: flex;
  justify-content: center;
  /* transition-delay: 1s; */
}

.main-btn2:not(:hover) {
  background-color: white;
  color: black;
  transition: 1s;
}

.main-btn {
  border: 2.5px solid black;
  /* margin-top: 300px; */
  background-color: transparent;
  padding: 18px;
  font-size: medium;
  color: black;
  text-transform: uppercase;
  font-weight: 550;
  margin: 18px 0;
  white-space: nowrap;
  width: 233px;
  transition: 0.3;
  display: flex;
  justify-content: center;
  /* transition-delay: 1s; */
}

.main-btn:active {
  background-color: white;
  /* border: 2.5px solid #3194A3; */
}

.main-btn:hover {
  background-color: black;
  color: white;
  transition: .6s;
}

.main-btn:not(:hover) {
  background-color: transparent;
  transition: .6s;
}

.main-btn1:not(:hover) {
  background-color: black;
  color: white;
  transition: 1s;
}

.main-btn1 {
  /* margin-top: 300px; */
  background-color: black;
  padding: 18px;
  font-size: medium;
  color: white;
  text-transform: uppercase;
  font-weight: 550;
  margin: 9px;
  white-space: nowrap;
  width: 233px;
  transition: 1s;
  display: flex;
  justify-content: center;
}

.main-btn1:hover {
  /* margin-top: 300px; */
  background-color: white;
  font-size: medium;
  color: black;
  text-transform: uppercase;
  font-weight: 550;
  white-space: nowrap;
  width: 233px;
  transition: 0.3;
  display: flex;
  justify-content: center;
  /* transition-delay: 1s; */
}

p {
  font-weight: 400;
  font-size: 23px;
}

.contact-link {
  color: white;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.full-day {
  text-decoration: line-through;
}

.artemie {
  margin-bottom: 0;
}

.container {
  display: none;
}

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
}



#location {
  padding: 36px 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 850px) {
  .burger-container {
    display: block !important;
  }

  .title1-container {
    margin-right: unset !important;
    margin-left: unset !important;
  }

  .page1 {
    padding: 96px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 1000px;
  }

  .mobile {
    width: 50%;
    color: white;
    padding: 18px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile:active {
    color: white;
  }

  .mobile1:active {
    color: white;
  }

  .mobile1 {
    width: 50%;
    color: white;
    padding: 23px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.01px solid white;
  }

  .container {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 5;
  }

  .nav-title {
    display: unset !important;
  }

  .img-nav {
    width: 33px;
  }

  /* .footer-container {
    margin-bottom: 63px;
    width: 100%;
    display: none !important;
  } */

  html {
    scroll-behavior: smooth;
  }

  .blurb {
    text-align: justify;
    margin: 0;
    width: 300px !important;
  }

  #location {
    padding: 36px !important;
  }

  .enroll {
    padding: 36px !important;
  }

  .main-btn {
    background-color: transparent;
    padding: 18px 63px;
    font-size: medium;
    color: black;
    text-transform: uppercase;
    font-weight: 550;
    border: 2.5px solid black;
    margin: 23px 0;
    white-space: nowrap;
    transition: 0.3;
  }

  .main-btn:active {
    background-color: white;
    color: #3194a3;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3;
  }

  /* .buttons {
    position: absolute;
    top: 390px;
    display: flex;
  } */

  .title-container-top {
    display: flex;
    text-align: start;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
  }

  /* .text-container {
    padding: 330px 18px 0px 18px !important;
  } */

  .home-img {
    height: 550px;
    width: 400px !important;
    position: absolute;
  }

  .right-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: url(https://i.imgur.com/SYH7Y2Rl.jpg) !important;
    background-size: cover;
    background-position: center; */
  }

  .private {
    padding: 36px !important;
  }

  .bring {
    padding: 36px !important;
  }

  .map {
    width: 300px;
    padding-top: 9px;
  }

  #coaches {
    margin: 36px 18px 18px 36px;
    padding: unset !important;
    align-items: center;
    justify-content: center;
  }

  .first {
    flex-direction: column;
  }

  #pricing.pricing {
    padding: 36px;
  }

  .input-dates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .second-text-container {
    padding-left: 0px;
  }

  .page-container {
    width: 100%;
    margin: 0;
    padding: 18px !important;
    min-height: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    text-align: start;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    padding: 140px 18px 0px 56px;
    /* line-height: .88em; */
  }

  .second {
    width: 100%;
    padding: 36px !important;
  }

  .enroll-button-container {
    margin-top: 9px !important;
  }

  .profile-img {
    width: 300px !important;
  }

  .enroll-button {
    background-color: transparent !important;
    margin-top: 18px;
    position: absolute;
  }

  .bring-h3 {
    width: 80%;
  }

  .contact {
    padding: 36px !important;
  }
}

.enroll-home {
  padding-top: 6px;
  text-decoration: none;
  color: black;
  padding: 21px 54px;
  background-color: red;
  border-radius: 3%;
}

.place {
  margin-bottom: 0;
}

.beacon {
  margin: 0px 0px 18px 0px;
}

.map {
  margin-top: 18px;
}

.enroll-home:hover {
  text-decoration: none;
  color: white !important;
  background-color: black;
}

.home-img {
  width: 100%;
}

.enroll-button2 {
  padding: 27px 72px;
  background-color: #3194a3;
  font-size: x-large;
  color: white;
  margin-top: 18px;
}

.enroll-enroll {
  color: white;
  font-weight: 700;
}

.acalades2 {
  margin: 0;
}

.string {
  background-color: black;
  color: white;
  padding: 36px;
}

.private {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 36px 36px 36px 270px;
}

.machine {
  color: red;
}

#coaches {
  display: flex;
  flex-direction: column;
  padding: 24px 270px;
  text-align: start;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
}

.consent-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.acalades {
  margin: 0;
  padding-bottom: 3px;
}

.consent {
  padding: 0 9px;
}

.blurb {
  text-align: justify;
  margin: 0;
  width: 360px;
}

.bring {
  display: flex;
  flex-direction: column;
  padding: 36px 270px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.phone {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  flex-wrap: wrap;
}

p {
  margin: 0;
}

.enroll-button-container {
  margin-top: 100px;
}

.sub-container {
  margin: 12px 0;
}

.enroll-sub {
  font-weight: 900;
  margin-top: 45px;
}

/* .enroll-button {
  background-color: white;
  font-weight: 900;
  font-size: larger;
  cursor: pointer;
  color: black;
  border: none;
} */



.web {
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  align-items: start;
  position: absolute;
  background-color: white;
  width: 222px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 33px;
  cursor: pointer;
  text-align: start;
}

.dropdown-content-mini {
  display: none;
  align-items: start;
  position: absolute;
  background-color: #f9f9f9;
  width: 110px;
  height: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 33px;
  cursor: pointer;
}

/* .span {
  padding: 18px 0;
} */

.dropdown-content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content-mini {
  display: block;
}



.page-container {
  width: 100%;
  margin: 0;
  padding: 21px 81px;
  min-height: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
}

.sub-title {
  color: red;
  font-weight: 900;
  font-size: 36px;
  transform: scale(1, 1.1);
  -webkit-text-stroke: 2px black;
}

.sub-title2 {
  padding-top: 3px;
  color: black;
  font-size: 36px;
  transform: scale(1, 1.1);
  -webkit-text-stroke: 1px black;
  font-size: x-large;
}

.title2 {
  color: red;
  /* font-weight: 900; */
  font-size: 36px;
}

.profile-img {
  width: 360px;
  padding: 18px 0;
  border-radius: 3%;
}

a {
  text-decoration: none;
}

img {
  width: unset !important;
}

h1 {
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 350px 18px 0px 36px;
  /* line-height: .88em; */
}

.left-container {
  width: 60%;
  overflow: hidden;
}

.right-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* z-index: 1; */
}

.first {
  display: flex;
  align-items: flex-start;
  height: 650px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.second {
  /* display:flex; */
  background-color: black;
  color: white;
  padding: 54px 270px;
  text-align: start;
}

.second-text-container {
  /* padding-left: 400px; */
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 27px 27px 27px 270px;
}

.enroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 36px 270px;
  width: 100%;
}

.contact {
  width: 100%;
  min-height: 28px;
  background-color: black;
  padding: 36px 270px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}