div.App {
  min-height: 100vh;
  align-content: center;
  font-family: Poppins;
  /* background: linear-gradient(white 40%, rgb(149, 173, 224) 90%); */
  /* display: flex; */
  /* justify-content: center; */
  position: relative;

}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
 }


.sub-app {}

/* div.nav {
  margin-left: auto;
  margin-right: 27px;
  display: none;
} */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4caf50;
  color: white;
}

.portfolio {
  /* width: 300px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
}

.work-teir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center.;
}

div.work-piece {
  width: 375px;
  height: 375px;
  /* margin-top: 1vw; */
  padding: 6%;
  display: flex;
  font-family: Avenir Next Condensed Demi Bold;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  margin: 1%;
}

.nav-container {
  margin-left: 132px;
}

div.work-piece:hover {
  margin: 1%;
  /* margin-top: 1vw; */
  padding: 6%;
  display: flex;
  font-family: Avenir Next Condensed Demi Bold;
  align-items: center;
  flex-flow: column;
  flex-direction: column;
  /* margin-left: auto;
  margin-right: auto; */
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0vw 0.2vw 1vw 1vw rgba(0, 0, 0, 0.1);
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  padding: 36px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: #9CB3E2; */
}

.center-header {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
}

.work-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 1vw;
}

.email {
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px;
  font-size: 25px;
}

p.highlights {
  /* width: 400px; */
  /* margin: 0 40px; */
}

.social-footer {
  margin: 9px 9px;
}

.large-svg {
  width: 100px;
  height: 100px;
}

/* .work-piece>.highlights {
  color: rgb(9, 18, 100);
} */

p.blurb {
  font-family: poppins;
  font-size: 23px;
  line-height: 1.3em;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.most-recent {
  color: #4B87C2;
  margin-right: auto;
  margin-left: 66px;
}

svg {
  fill: black;
  margin: 0 10px;
  width: 24px;
  height: 24px;
  padding: 0;
}

.social-nav {
  fill: white !important;
  margin: 0 10px;
  width: 24px;
  height: 24px;
  padding: 0;
}

.social.s {
  padding: 9px;
}

html,
body,
#___gatsby,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo-image {
  height: 9vw;
  border-radius: 2vw;
  margin-left: 4vw;
}

.htv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tennis {
  width: 444px;
  height: 333px;
  cursor: pointer;
}

.youtube {
  width: 333px;
  height: 222px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#myLinks {
  background-color: white;
}

.social-s {
  padding-top: 6px;
}

.header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* box-shadow: 0vw .2vw 1vw 1vw rgba(0, 0, 0, .1); */
  padding: 9px 9px 18px 9px;
  /* position: fixed; */
  border-bottom: .1px solid rgb(223, 223, 223);
  width: 100%;
}

.social {
  padding: 3vw 0 0 0;
  /* display: flex;
  flex-direction: row; */
}

h4 {
  color: black;
}

nav.nav {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-right: 0;
}

h1 {
  font-size: 30px;
  font-family: Poppins;
  margin: 0;
}

h2 {
  margin: 0;
}

.projects-header {
  padding: 27px;
}

h3 {
  /* padding: 50px 0 0; */
  margin: 0;
}

a:-webkit-any-link {
  cursor: pointer;
}

.nav>a {
  margin: 12px;
}

.text {
  height: 100%;
}

.welcome {
  margin: 2vw 0 0 2vw;
  color: black;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  /* display:block; */
  /* width:180px; */
  /* min-width:1px; */
}


.hello {
  text-transform: uppercase;
}

.name {
  display: flex;
  flex-direction: row;
  margin: 1vw;
  font-size: 4vw;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px;
}

.home-feature {
  display: flex;
  align-items: center;
}

.seen {
  margin: 18px;
}

.feature {
  padding-bottom: 18px;
}

img.image {
  height: 3vw;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* flex-wrap: wrap; */
  align-content: center;
}

.octago {
  width: 66%;
}

.tennis-ball {
  width: 99px;
  padding-bottom: 18px;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 77%;
  text-align: justify;
}
.footer {
  background-color: #EEEEEE;
  padding: 74px 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin: 0;
  padding: 0;
  display: nowrap;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px;
}

#about.about {}

div.work {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 2%;
  padding: 2%;
  align-items: center;
  display: flex;
}

a.work {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.link {
  padding: 9px;
  color: black;
}

.link:hover {
  color: black;
  transition: all 0.5s;
  font-weight: bolder;
}

div.work a {
  margin: 1%;
  padding: 1%;
  text-decoration: none;
  font-size: larger;
  font-family: Poppins;
  display: grid;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .App {
    width: auto;
    overflow: hidden;
  }

  .logo-image {
    height: 27vw;
    margin: 3vw;
  }

  .tennis {
    width: 333px !important;
    height: unset !important;
  }

  .youtube {
    width: 233px !important;
    height: unset !important;
  }

  .link {
    font-size: 2.5vw;
  }

  .most-recent {
    margin: 1px;
  }

  .footer {
    padding: 36px !important;
  }

  .header {
    /* border-bottom: none; */
    justify-content: center;
    position: fixed;
    width: fit-content;
    background-color: whitesmoke;
  }

  .nav-container {
    margin-left: 88px;
  }

  .social {
    display: none;
  }

  div.nav {
    margin-left: auto;
    margin-right: 27px;
    display: flex;
  }

  .work-teir {
    width: 330px;
  }

  div.nav-web {
    display: none;
  }

  .social-s {
    display: flex;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
    font-size: 3vw;
  }

  #about {
    padding: 108px 36px 36px 36px !important;
  }

  .home-feature {
    flex-direction: column;
  }

  .about-main {
    width: 100% !important;
  }

  /* body {
    position: absolute;
  } */

  /* .home {
    justify-content: center;
    padding: 5vw;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
    width: 300px;
  } */

  .work-title-container {
    margin: 0;
  }

  img.image {
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio {
    width: 330px;
    justify-content: center;
  }

  nav.nav {
    width: 300px;
  }

  p.highlights {
    margin: 15px 15px;
    text-align: start;
  }

  p.blurb {
    font-size: 15px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
  }

  p {
    margin: unset;
    text-align: justify;
  }

  h3 {
    padding-top: 0;
  }

  .work-piece {
    width: 240px !important;
    height: unset !important;
    margin-top: 18px !important;
  }

  h1.intro {
    font-size: 23px;
  }

  .portfolio-container {
    padding: 18px !important;
  }

  .contact {
    padding: 45px !important;
  }

  .hello {
    font-size: 18px;
  }
}